@media only screen and (max-width: 1024px) {
    /* Adjust styles for tablets and smaller screens */
    .parent-section-1 {
        grid-template-columns: 1fr;
    }

    .child-section-1 {
        padding: 0;
        text-align: center;
    }

    .child-section-1 h1 {
        font-size: 3rem;
    }

    .child-section-1 h1 .small {
        font-size: 2rem;
    }

    .cta-btn {
        font-size: 1.2rem;
    }

    .content-child h2 {
        font-size: 3.5rem;
        padding: 1rem;
    }

    .content-child h3 {
        font-size: 1.8rem;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-numbers,
    .about-content,
    .skill-item {
        grid-template-columns: 1fr;
    }

    .about-numbers:after {
        content: none;
    }

    .has-border:after {
        display: none;
    }

    .about-numbers div {
        margin-bottom: 1rem;
    }

    .about-numbers span {
        font-size: 2.5rem;
    }

    .about-content {
        padding: 2rem;
    }

    .skill-item h4 {
        font-size: 1.4rem;
    }

    .gallery .image-container {
        columns: 2 50vw;
    }

    .gallery .image-container img {
        margin-bottom: 1rem;
    }

    .image-popup img {
        width: 80vw;
    }
}

@media only screen and (max-width: 768px) {
    /* Adjust styles for mobile devices */
    .child-section-1 h1 {
        font-size: 2rem;
    }

    .child-section-1 h1 .small {
        font-size: 1.6rem;
    }

    .cta-btn {
        font-size: 1rem;
    }

    .content-child h2 {
        font-size: 2.5rem;
        padding: 0.5rem;
    }

    .content-child h3 {
        font-size: 1.4rem;
    }

    .about-content {
        padding: 1rem;
    }

    .btn {
        padding: 1rem 1.6rem;
        font-size: 1.4rem;
    }

    .gallery .image-container {
        columns: 1;
    }

    .gallery .image-container img {
        margin-bottom: 0.8rem;
    }

    .image-popup img {
        width: 90vw;
        border-width: 1rem;
    }
}
